
server:
  port: 8080
spring:
  servlet:
    multipart:
      max-file-size: 10MB
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

  datasource:
    druid:
      driver-class-name: com.mysql.jdbc.Driver
      username: root
      password: 210125
      url: jdbc:mysql://82.157.191.133:3306/crms?createDatabaseIfNotExist=true&useSSL=false
    type: com.alibaba.druid.pool.DruidDataSource

  mail:
    host: smtp.qq.com
    port: 465
    username: 321434162@qq.com
    password: twfswuthopnfbifb
    properties:
      mail:
        smtp:
          ssl:
            enable: true

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      id-type: auto

