<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.crms.mapper.MeetingMapper">

    <select id="getMeetingEquipmentByRoomId" resultType="com.example.crms.domain.vo.MeetingEquipmentVo"
            parameterType="int">
        SELECT
            room_equipment.equipment_id,room_equipment.equipment_num,equipment.equipment_name
        FROM
            room_equipment,equipment
        WHERE
            room_equipment.equipment_id = equipment.equipment_id
          AND
            room_equipment.room_id = #{roomId}
    </select>
    <select id="getMeetingUserByMeetingId" resultType="com.example.crms.domain.vo.MeetingUserVo"
            parameterType="int">
        SELECT
            `user`.user_id,`user`.user_name,department.department_id,department.department_name
        FROM
            `user`,department, meeting_user
        WHERE
            meeting_user.user_id = `user`.user_id
          AND
            `user`.department_id = department.department_id
          AND
            meeting_user.meeting_id = #{meetingId}
    </select>
</mapper>