<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.crms.mapper.ScheduleMapper">

    <select id="selectExistStatus" resultType="com.example.crms.domain.entity.Schedule">
        SELECT *
        FROM schedule
        WHERE user_id = #{userId}
        AND (schedule_starttime BETWEEN #{scheduleStarttime} AND  #{scheduleEndtime}
        or schedule_endtime BETWEEN #{scheduleStarttime} and #{scheduleEndtime}
        or (schedule_starttime &lt; #{scheduleStarttime} AND schedule_endtime &gt; #{scheduleEndtime}
        )
        )
    </select>

    <select id="selectUserStatus" resultType="com.example.crms.domain.entity.Schedule">
        SELECT *
        FROM schedule
        WHERE schedule_status = 0
        AND (schedule_starttime BETWEEN #{scheduleStarttime} AND  #{scheduleEndtime}
        or schedule_endtime BETWEEN #{scheduleStarttime} and #{scheduleEndtime}
        or (schedule_starttime &lt; #{scheduleStarttime} AND schedule_endtime &gt; #{scheduleEndtime}
        )
        )

    </select>

    <select id="selectUserStatusMeeting" resultType="com.example.crms.domain.entity.Schedule">
        SELECT *
        FROM schedule
        WHERE user_id = #{userId}
        AND schedule_status = 0
        AND (schedule_starttime BETWEEN #{scheduleStarttime} AND #{scheduleEndtime}
        or schedule_endtime BETWEEN #{scheduleStarttime} and #{scheduleEndtime}
        or (schedule_starttime &lt; #{scheduleStarttime} AND schedule_endtime &gt; #{scheduleEndtime}
        )
        )

    </select>

</mapper>
